
@{
    ViewBag.Title = "MovieVilla";
}

<h2>Customers</h2>

<a href='@Url.Action("Details", "Customers")' class="btn btn-primary">
    Create New Customer
</a>
<table id="tblCustomer" class="table">
    <thead>

        <tr>
            <th>
               Name
            </th>
            <th>
                Membership Type
            </th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
 </table>
    
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#tblCustomer").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, customer) {
                            return "<a href='/Customers/Details/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.description"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
            $("#tblCustomer").on("click",".js-delete",function () {
                var button = $(this);
                bootbox.confirm("Are you sure to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }

                        });

                    }
                });
            });
        });
        
    </script>
}
