
@{
    ViewBag.Title = "MovieVilla";
}

<h2>Customers</h2>


<table id="tblCustomer" class="table">
    <thead>

        <tr>
            <th>
                Name
            </th>
            <th>
                Membership Type
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#tblCustomer").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "membershipType.description"
                    }
                ]
            });
            
        });

    </script>
}
